<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>FileStatisticServlet</servlet-name>
        <servlet-class>com.luxoft.extwo.database.webapp.servlets.FileStatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineStatisticServlet</servlet-name>
        <servlet-class>com.luxoft.extwo.database.webapp.servlets.LineStatisticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileStatisticServlet</servlet-name>
        <url-pattern>/filestatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineStatisticServlet</servlet-name>
        <url-pattern>/linestatistic</url-pattern>
    </servlet-mapping>
</web-app>
